@{
    ViewBag.Title = "About Me";
}

<h2>About Me</h2>

<hr />

<br /><br />

<p>Submitted By: </p>
<address>
    Abraham John<br />
    
    <abbr title="Phone">Tel:</abbr>
    089 247 0790
</address>

<address>
    <strong>EMail:</strong> abrahamjohn.net@gmail.com<br />
</address>
