@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <div class="paragraphs">
            <div class="row">
                <div class="span4">
                    <div class="clearfix content-heading">
                        <h2> <img src=@Url.Content("~/Images/todo.png") style="width:50px;height:50px;" />&nbsp;&nbsp;Todo List</h2>
                    </div>
                    Submitted: Abraham John
                </div>
            </div>
        </div>
        <hr />
        <p>   <h3>ASP.NET MVC Application with In Memory Storage</h3></p>
        <hr />

        <p>UserName:<b>user</b> Password:<b>pass</b> </p>

        <p>MVC ASP.NET Core web application and ASP.NET Core Web API hosted in Azure Service</p>
      
        <p class="lead">
            Developed using the following technology stack.
            <ol class="lead">
                <li>ASP.NET Core 2.2</li>
                <li>Microsoft.NETCore.App 2.2 </li>
                <li>Microsoft.EntityFrameworkCore 2.2 (In Memory Data Storage)</li>
                <li>MVC</li>
                <li>WebAPI</li>
                <li>Bootstrap</li>
                <li>JQuery 1.12.4</li>
                <li>Moq 4.10.1</li>
                <li>MS Test 1.4</li>
            </ol>
        </p>

        <p class="lead">
            Design approach.
            <ol class="lead">
                <li>Cookies authentication </li>
                <li>WebApi hosting as seperate instance</li>
                <li>WebApi use Entity Framework to access Data Models</li>
                <li>Automapper to map the Entities</li>
                <li>Dependency Injection (DI) in WebApi Service </li>
                <li>MS Test for Unit Testing the WebApi</li>
            </ol>
        </p>

    </div>

